body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
    text-align: right;
}

nav {
    border-top: 5px solid rgb(255, 255, 255);
    border-bottom: 5px solid rgb(255, 255, 255);
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
     text-align: center;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;

}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
    border-radius: 10px;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;
}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
p b {
    color: white;
}
aside {
    width: 90px;
    top:40px;
    background-color: #ca88ff;
    border: dashed #b515ff ;
    margin-top: 380px;
    bottom: 10px;
    position: fixed;
}
aside:hover {
    width: 90px;
    top:40px;
    background-color: #b515ff;
    border: dashed #ca88ff ;
    margin-top: 380px;
    bottom: 10px;
    position: fixed;
}
.sale {
    position: relative;
    

}
.article-but:hover{
    text-decoration: none;
    background-color: #001658;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
    border-radius: 10px;
    transition: 0.2s;
}
.button:hover {
background-color: #008fa5;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 22px;
    border-radius: 10px;
    display: block;
}
.nav-link:hover {
    font-size: 24px;
    color: rgb(23, 220, 255);
    text-decoration: none;
    display: block;
    text-align: right;
}
h2{
text-align: center
}
h1::before,h1::after{
    content: url(https://cdn-icons-png.flaticon.com/128/969/969389.png);
    height: 10px;
    width: 10px;

}
